@import "../../../../styles/utils/variables";

.days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  background: $lite-background;
  box-shadow: $box-shadow;
  border-radius: 0 0 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $card-background-color;
  border-radius: 10px;
  padding: 10px;
  width: 149px;
  transition: 0.3ms;
  cursor: pointer;

  .day {
    font-size: 18px;
    margin-bottom: 7px;
  }

  .day__info {
    font-size: 14px;
    margin-bottom: 12px;
    color: $primary-lite-color;
  }

  .img {
    margin-bottom: 12px;
  }

  .temp__day {
    font-size: 18px;
  }

  .temp__night {
    font-size: 13px;
    color: $primary-lite-color;
    margin-bottom: 6px;
  }

  .info {
    font-size: 13px;
    color: $primary-lite-color;
  }

  &:hover {
    box-shadow: 0 3px 20px rgba(147, 144, 144, 0.28);
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.cancel,
.tab {
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 5px;
  padding: 9px 20px;
  background-color: $lite-background;
  margin-right: 15px;
  color: $primary-dark-color;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3ms;

  &:last-of-type {
    margin-right: 0;
  }
}

.tab {
  &.active {
    background-color: $primary-color;
    color: #ffffff;
  }
}

.tabs__wrapper {
  display: flex;
}
