$lite-background: #ffffff;
$primary-color: #4793FF;
$primary-dark-color: #000000;
$primary-lite-color: #939CB0;
$card-background-color: rgba(71, 147, 255, 0.2);

$box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25); 